KullanıcıWeb/wwwroot/lib/** linguist-vendored
KullanıcıWeb/wwwroot/css/** linguist-vendored
KullanıcıWeb/wwwroot/js/** linguist-vendored
*.min.js linguist-vendored
*.min.css linguist-vendored
*.cshtml linguist-language=C#